@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.gambar-bulat {
    border-radius: 50%;
}
.kotak {
    background-color: #cccccc;
    display: inline-block;
    width: 200px;
}

.blob {
    border-radius: 38% 62% 45% 55% / 59% 70% 30% 41%;
    grid-area: image;
    border-color: black;
    background-image: url("https://img.freepik.com/premium-vector/yellow-cup-coffee-with-black-coffee-top_313877-12133.jpg");
    background-size: cover;
    overflow: hidden;
}

.banner {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://cdn.stocksnap.io/img-thumbs/960w/restaurant-bar_THXU08ODDE.jpg");
    background-position: center;
    background-size: cover;
    font-family: Poppins;
}

.banner-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

:root{
  --primary: #b6895b;
  --bg: #010101; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #fff;
}